@using NewTab.Controllers
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>@ViewBag.Title </title>
  <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <meta name="viewport" content="width=device-width" />
  @Styles.Render("~/Content/css")
  @Styles.Render("~/Content/bootstrap/base")
  @Styles.Render("~/Content/bootstrap/theme")
  @Scripts.Render("~/bundles/modernizr")
</head>
<body>
  <header class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      @Html.ActionLink("NewTab", "Index", "Home", null, new { @class = "navbar-brand" })
    </div>@*closediv container*@
  </header>
  <section class="container">
    @RenderBody()
  </section>
  <footer class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <p class="pull-left">&copy; @DateTime.Now.Year NewTab</p>
      <p class="pull-right">Ctrl + L</p>
    </div>
  </footer>

  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/bootstrap")
  @RenderSection("scripts", required: false)
</body>
</html>
